<div class="content-wrapper">
<div class="container">
  <div class="panel panel-primary">
    <div class="panel panel-heading">ITS</div>
    <div class="panel-body">
      <button type="button" class="btn btn-default btn-sm" (click)="onGetList()">
        <span class="glyphicon glyphicon-th-list"></span> Liste des ITS
      </button>
    </div>

    <div class="panel-body">


      <div *ngIf="mode == 'afficher'" >

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-6">
            <label class="col-sm-3 control-label">Id :</label>
            <div class="col-sm-9">
              {{item.idIts}}
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-sm-3 control-label">pourcentage Its:</label>
            <div class="col-sm-9">
              {{item.pourcentageIts}}
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-sm-3 control-label">debut_tranche:</label>
            <div class="col-sm-9">
              {{item.debut_tranche}}
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-sm-3 control-label">fin_tranche:</label>
            <div class="col-sm-9">
              {{item.fin_tranche}}
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-sm-3 control-label">montant:</label>
            <div class="col-sm-9">
              {{item.montant}}
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-sm-3 control-label"> abattement:</label>
            <div class="col-sm-9">
              {{item.abattement}}
            </div>
          </div>





        </div>

        <button class="btn btn-warning btn-sm" (click)="modifier(item)" > Modifier </button> &nbsp;
        <button class="btn btn-danger btn-sm" (click)="supprimer(item)" > Supprimer</button>

      </div> <!-- End afficher -->

      <div *ngIf="mode == 'ajouter'">
        <div class="submit-form">
          <form #addForm="ngForm" class="form-horizontal">
            <div *ngIf="!submitted">
              <div class="form-row">

                <div class="form-group col-sm-4" >
                  <label for="pourcentageIts" class="col-sm-3 control-label" >pourcentage Its:</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="pourcentageIts"
                      required
                      [(ngModel)]="item.pourcentageIts"
                      name="pourcentageIts"
                    />
                  </div>
                </div>

                <div class="form-group col-sm-6" >
                  <label for="debut_tranche" class="col-sm-3 control-label" >debut_tranche: </label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="debut_tranche"
                      [(ngModel)]="item.debut_tranche"
                      name="debut_tranche"
                    />
                  </div>
                </div>


                <div class="form-group col-sm-6" >
                  <label for="fin_tranche" class="col-sm-3 control-label" >fin_tranche: </label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="fin_tranche"
                      [(ngModel)]="item.fin_tranche"
                      name="fin_tranche"
                    />
                  </div>
                </div>




                <div class="form-group col-sm-6" >
                  <label for="montant" class="col-sm-3 control-label" >montant: </label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="montant"
                      [(ngModel)]="item.montant"
                      name="montant"
                    />
                  </div>
                </div>

                <div class="form-group col-sm-6" >
                  <label for="abattement" class="col-sm-3 control-label" >abattement: </label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="abattement"
                      [(ngModel)]="item.abattement"
                      name="abattement"
                    />
                  </div>
                </div>





                <div class="form-group col-md-4">
                  <div class="col-sm-offset-3 col-sm-10" >
                    <button (click)="post()" class="btn btn-success" [disabled]="addForm.form.invalid">Ajouter</button>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>

        <div *ngIf="submitted" class="alert alert-success" role="alert">
          its a ete ajoute !
        </div>
      </div> <!-- End ajouter -->




      <div *ngIf="mode == 'supprimer'">
        <div class="alert alert-success" role="alert">
          its a ete supprime!
        </div>
      </div>

      <div *ngIf="mode == 'modifier'">
        <div *ngIf="submitted" class="alert alert-success" role="alert">
          its a ete mis a jour !
        </div>

        <div class="submit-form">
          <div *ngIf="item">

            <form #editForm="ngForm" class="form-horizontal">

              <div class="form-row">
                <div class="form-group col-sm-4" >
                  <label for="pourcentageIts" class="col-sm-3 control-label" >pourcentageIts:</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="pourcentageIts"
                      required
                      [(ngModel)]="item.pourcentageIts"
                      name="pourcentageIts"
                    />
                  </div>
                </div>



                <div class="form-group col-sm-4" >
                  <label for="debut_tranche" class="col-sm-3 control-label" >debut_tranche:</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="debut_tranche"
                      required
                      [(ngModel)]="item.debut_tranche"
                      name="debut_tranche"
                    />
                  </div>
                </div>


                <div class="form-group col-sm-4" >
                  <label for="fin_tranche" class="col-sm-3 control-label" >fin_tranche:</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="fin_tranche"
                      required
                      [(ngModel)]="item.fin_tranche"
                      name="debut_tranche"
                    />
                  </div>
                </div>


                <div class="form-group col-sm-4" >
                  <label for="montant" class="col-sm-3 control-label" >montant:</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="montant"
                      required
                      [(ngModel)]="item.montant"
                      name="montant"
                    />
                  </div>
                </div>


                <div class="form-group col-sm-4" >
                  <label for="abattement" class="col-sm-3 control-label" >abattement:</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="abattement"
                      required
                      [(ngModel)]="item.abattement"
                      name="abattement"
                    />
                  </div>
                </div>



                <div class="form-group col-md-4">
                  <div class="col-sm-offset-3 col-sm-10" >
                    <button type="submit" (click)="put()" class="btn btn-success" [disabled]="editForm.form.invalid">Mettre A jour</button>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>

      <div *ngIf="list && mode">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-toolbar text-right" style="margin-bottom: 10px;">
              <button type="button" class="btn btn-default" (click)="ajouter()">
                <span class="glyphicon glyphicon-plus"></span> Ajouter
              </button>
            </div>
            <div class="grid-toolbar text-right">
              <button type="button" class="btn btn-default float-right" style="margin-bottom: 10px;"  (click)="onBtnExport()">
                <span class="glyphicon glyphicon glyphicon-open" aria-hidden="true"></span> Exporter
              </button>
            </div>
          </div>
        </div>
        <ag-grid-angular
          #agGrid
          style="width: 100%;"
          class="ag-theme-alpine"
          domLayout='autoHeight'
          [rowData]="list"
          [columnDefs]="columnDefs"
          [context]="context"
          [frameworkComponents]="frameworkComponents"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
      </div>

    </div> <!-- End panel-body -->


  </div> <!-- End panel-primary -->


</div> <!-- End container -->



</div>
