<div class="container">
    <div class="panel panel-primary">
       <div class="panel panel-heading">Gestion des types  Contrats</div>
       <div class="panel-body">
         <button *ngIf="!contrats;" type="button" class="btn btn-default btn-sm" (click)="onGetContrats()">
           <span class="glyphicon glyphicon-th-list"></span> Liste des type Contrats
         </button>
       </div>

       <div class="panel-body">


        <div *ngIf="mode == 'afficher'" >

            <div class="row" style="margin-bottom: 15px;">
                  <div class="col-md-6">
                      <label class="col-sm-3 control-label">Numero :</label>
                      <div class="col-sm-9">
                        {{contrat.numero}}
                      </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-sm-3 control-label">Type:</label>
                    <div class="col-sm-9">
                      {{contrat.type}}
                    </div>
                  </div>
              <mat-paginator [pageSizeOptions]="[5,10,20]" [PageSize]="5" ></mat-paginator>

            </div>

            <button class="btn btn-warning btn-sm" (click)="modifier(contrat)" > Modifier </button> &nbsp;
            <button class="btn btn-danger btn-sm" (click)="supprimer(contrat)" > Supprimer</button>

        </div> <!-- End afficher -->



        <div *ngIf="mode == 'supprimer'">
            <div class="alert alert-success" role="alert">
              le type du contrat a ete supprime!
            </div>
        </div>



        <div *ngIf="contrats && mode">
            <div class="row">
                <div class="col-sm-12">
                <div class="grid-toolbar text-right" style="margin-bottom: 10px;">
                  <button type="button" class="btn btn-default" (click)="ajouter()">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                  </button>
                </div>
                <div class="grid-toolbar text-right">
                    <button type="button" class="btn btn-default float-right" style="margin-bottom: 10px;"  (click)="onBtnExport()">
                      <span class="glyphicon glyphicon glyphicon-open" aria-hidden="true"></span> Exporter
                    </button>
                </div>
              </div>
            </div>
            <ag-grid-angular
                    #agGrid
                    style="width: 100%;"
                    class="ag-theme-alpine"
                    domLayout='autoHeight'
                    [rowData]="contrats"
                    [columnDefs]="columnDefs"
                    [context]="context"
                    [gridOptions]="gridOptins"
                    [frameworkComponents]="frameworkComponents"
                    (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          </div>

       </div> <!-- End panel-body -->


    </div> <!-- End panel-primary -->


</div> <!-- End container -->
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><Br><BR><BR><br>
<footer>
  <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
    <div class="col-12">
      <div class="row row-2">
        <div class="col-sm-3 text-md-center">
          <img src="assets/img/sy.PNG" style=" width: 120px !important; height:40px">
          <h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span>
            <b>Syskat Technologies</b></h5>
        </div>
        <div class="col-sm-3 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Hébergement site web</li>
            <li>Maintenance</li>
            <li>Securité</li>
          </ul>
        </div>
        <div class="col-sm-3 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Solutions</li>
            <li>Services</li>
            <li>Références</li>
          </ul>
        </div>
        <div class="col-sm-3 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Développement sur mesure</li>
            <li><i style='font-size:24px' class='fas'>&#xf3c5;</i>Avn. Mokhtar Ould Daddah</li>
            <li><i class="fas fa-phone-alt"></i>+222 44 24 48 48</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
    <div class="col-12">
      <div class="row my-4 row-1 no-gutters">
        <div class="col-sm-3 col-auto text-center"><small>&#9400; Syskat Technologies</small></div>
        <div class="col-md-3 col-auto "></div>
        <div class="col-md-3 col-auto"></div>
        <div class="col my-auto text-md-left text-right "><i class="fas fa-comment"></i> <small> Contact@syskat.com </small> </div>
      </div>
    </div>
  </div>
</footer>
