<div>
  <div class="submit-form">
    <form #addForm="ngForm" class="form-horizontal">
      <div class="form-row">

        <div class="form-group col-sm-6" >
          <label for="nomPrimeV" class="col-sm-3 control-label" >nom Prime Variabe:</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="nomPrimeV"
              required
              [(ngModel)]="item.nomPrimeV"
              name="nomPrimeV"
            />
          </div>
        </div>


        <div class="form-group col-sm-6" >
          <label for="date_primeVr" class="col-sm-3 control-label" >date_primeVr:</label>
          <div class="col-sm-9">
            <input
              placeholder="Format JJ/MM/AAAA"
              type="date"
              class="form-control"
              id="date_primeVr"
              [(ngModel)]="item.date_primeVr"
              name="date_primeVr"
            />
          </div>
        </div>

        <div class="form-group col-sm-6" >
          <label for="Code_Prime" class="col-sm-3 control-label" >Code_Prime: </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="Code_Prime"
              [(ngModel)]="item.Code_Prime"
              name="Code_Prime"
            />
          </div>
        </div>




        <div class="form-group col-sm-6" >
          <label for="valeur_prime" class="col-sm-3 control-label" >valeur_prime: </label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="valeur_prime"
              [(ngModel)]="item.valeur_prime"
              name="valeur_prime"
            />
          </div>
        </div>



        <div class="form-group col-sm-6" >
          <label  class="col-sm-3 control-label" >employe: </label>
          <div class="col-sm-9">
            <p-multiSelect
              [options]="employes"
              optionLabel="nom"
              dataKey="idEmploye"
              [selectionLimit]="1"
              [(ngModel)]="employe">
            </p-multiSelect>
          </div>
        </div>



        <div class="form-group col-sm-6">
          <div class="col-sm-offset-3 col-sm-10" >
            <button (click)="post()" class="btn btn-success" [disabled]="addForm.form.invalid">{{data.btn}}</button>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div *ngIf="submitted" class="alert alert-success" role="alert">
    prime variable a ete ajoute !
  </div>
</div> <!-- End ajouter -->
