<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">employes</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Accueil</a></li>
      <li class="active"><a routerLink="/recherche-employe">Rechercher</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>




    </ul>


  </div>

</nav> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GRH</a>
    </div>
    <ul class="nav navbar-nav">
     <li class="active"><a href="/">
        <span class="glyphicon glyphicon-home"></span> Accueil
     </a></li>
     <!-- <li class="active"><a routerLink="/recherche-employe">Rechercher</a></li> -->
    <!-- <li class="active"><a routerLink="/recherche-employe">Rechercher</a></li> -->
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Déconecter</a></li>
    </ul>
  </div>
</nav>





<router-outlet>

</router-outlet>


<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.syskat.com/"> syskat.com </a>
  </div>
  <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->
