<div class="container">
    <h1> Suppression d'employer</h1>

    <div *ngIf="submitted" class="alert alert-success" role="alert">
        L'employe a ete mis a jour ! 

        <a [title]="'Editer'" [routerLink]="['/recherche-employe']">
            Retrouner a la recherche
        </a>
    </div>

    <div class="submit-form">
      <div *ngIf="employer">
        <div class="form-group">
          <label for="nom">Nom:</label>
          <input
            type="text"
            readonly
            class="form-control"
            id="nom"
            required
            [(ngModel)]="employer.nom"
            name="title"
          />
        </div>

        <div class="form-group">
          <label for="prenom">Prenom:</label>
          <input
            class="form-control"
            readonly
            id="prenom"
            required
            [(ngModel)]="employer.prenom"
            name="prenom"
          />

          <div class="form-group">
            <label for="prenom">Adresse:</label>
            <input
              class="form-control"
              id="adresse"
              readonly
              [(ngModel)]="employer.adresse"
              name="adresse"
            />
          </div>

          <div class="form-group">
            <label for="prenom">Contact:</label>
            <input
              class="form-control"
              readonly
              id="contact"
              [(ngModel)]="employer.contact"
              name="contact"
            />
          </div>

          <div class="form-group">
            <label for="prenom">Titre:</label>
            <input
              class="form-control"
              id="titre"
              readonly
              [(ngModel)]="employer.titre"
              name="titre"
            />
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input
              class="form-control"
              readonly
              id="email"
              [(ngModel)]="employer.email"
              name="email"
            />
          </div>

          <div class="form-group">
            <label for="numeroCompte">Numero Compte:</label>
            <input
              class="form-control"
              readonly
              id="numeroCompte"
              [(ngModel)]="employer.numeroCompte"
              name="numeroCompte"
            />
          </div>

          <div class="form-group">
            <label for="nni">NNI:</label>
            <input
              class="form-control"
              readonly
              id="nni"
              [(ngModel)]="employer.nni"
              name="nni"
            />
          </div>

          <button (click)="deleteEmployee()" class="btn btn-danger">Supprimer</button> &nbsp; 
          <button (click)="annuler()" class="btn btn-light">Annuler</button>
      </div>

      </div>
    </div>
</div>
