.p-multiselect{
  width: 100%!important;
}

p-multiselect::ng-deep .p-multiselect{
  width: 100%!important;
}
div.panel.panel-primary{
  margin-left: 11%;
  margin-top: 40px;
}
.card-footer > a{
  width: 100%;
}



@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


footer {
  color: #caced1 !important
}

li {
  margin-top: 20px;
  margin-bottom: 20px
}

.Careers {
  cursor: pointer;
  color: #1E88E5
}

.row-1 {
  background-color: #1E242A !important
}

.row-2 {
  background-color: #28323C !important
}
