<div class="container">
     <div class="panel panel-primary">
        <div class="panel panel-heading">Gestion des employés</div>
        <div class="panel-body">
          <button type="button" class="btn btn-default btn-sm" (click)="onGetEmployes()">
            <span class="glyphicon glyphicon-th-list"></span> liste des employes
          </button><br><br>
        </div>
        <div class="panel-body">

          <div *ngIf="mode == 'afficher'" >

            <div class="row">
                  <div class="col-md-4">
                      <label class="col-sm-3 control-label">Nom:</label>
                      <div class="col-sm-9">
                        {{employe.nom}}
                      </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-3 control-label">Prenom:</label>
                    <div class="col-sm-9">
                      {{employe.prenom}}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-3 control-label">Adresse:</label>
                    <div class="col-sm-9">
                      {{employe.adresse}}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-3 control-label">Contact:</label>
                    <div class="col-sm-9">
                      {{employe.contact}}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-3 control-label">Etat:</label>
                    <div class="col-sm-9">
                      <span *ngIf="employe.etat == '1'">Actif</span>
                      <span *ngIf="employe.etat == '0'">Non Actif</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-3 control-label">Titre:</label>
                    <div class="col-sm-9">
                      {{employe.titre}}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-6 control-label">Situation Familialle:</label>
                    <div class="col-sm-6">
                      {{employe.situationFamilialle}}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-3 control-label">Email:</label>
                    <div class="col-sm-9">
                      {{employe.email}}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-3 control-label">Genre:</label>
                    <div class="col-sm-9">
                      {{employe.genre}}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-6 control-label">Numero Compte:</label>
                    <div class="col-sm-6">
                      {{employe.numeroCompte}}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-sm-3 control-label">NNI:</label>
                    <div class="col-sm-9">
                      {{employe.nni}}
                    </div>
                  </div>
            </div>

              <button class="btn btn-warning btn-sm" (click)="modifier(employe)" > Modifier </button> &nbsp;
              <button class="btn btn-danger btn-sm" (click)="supprimer(employe)" > Supprimer</button>

         </div>

          <div *ngIf="mode == 'ajouter'">
            <div class="submit-form">
              <form #addForm="ngForm" class="form-horizontal">
                <div *ngIf="!submitted">
                  <div class="form-row">
                  <div class="form-group col-sm-4" >
                    <label for="nom" class="col-sm-3 control-label" >Nom:</label>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="nom"
                        required
                        [(ngModel)]="employe.nom"
                        name="title"
                      />
                  </div>
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="prenom" class="col-sm-3 control-label">Prenom:</label>
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        id="prenom"
                        required
                        [(ngModel)]="employe.prenom"
                        name="prenom"
                      />
                    </div>
                  </div>

                    <div class="form-group col-sm-4">
                      <label for="prenom" class="col-sm-3 control-label">Adresse:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="adresse"
                          [(ngModel)]="employe.adresse"
                          name="adresse"
                        />
                      </div>
                    </div>

                    <div class="form-group col-sm-4">
                      <label for="prenom" class="col-sm-3 control-label">Contact:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="contact"
                          [(ngModel)]="employe.contact"
                          name="contact"
                        />
                      </div>
                    </div>

                    <div class="form-group col-sm-4">
                      <label for="prenom" class="col-sm-3 control-label">Etat:</label>
                      <div class="col-sm-9">
                        <select
                          name="etat"
                          id="etat"
                          class="form-control"
                          [(ngModel)]="employe.etat">
                          <option value="1" >Actif</option>
                          <option value="0" >Inactif</option>
                        </select>
                      </div>

                    </div>

                    <div class="form-group col-sm-4">
                      <label for="titre" class="col-sm-3 control-label">Titre:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="titre"
                          [(ngModel)]="employe.titre"
                          name="titre"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="situationFamilialle" class="col-sm-6 control-label">Situation Familialle:</label>
                      <div class="col-sm-6">
                        <input
                          class="form-control"
                          id="situationFamilialle"
                          [(ngModel)]="employe.situationFamilialle"
                          name="situationFamilialle"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="email" class="col-sm-3 control-label" >Email:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="email"
                          [(ngModel)]="employe.email"
                          name="email"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="genre" class="col-sm-3 control-label">Genre:</label>
                      <div class="col-sm-9">
                        <select
                          name="genre"
                          id="genre"
                          class="form-control"
                          [(ngModel)]="employe.genre">
                          <option value="male" >Male</option>
                          <option value="femelle" >Femelle</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="numeroCompte" class="col-sm-6 control-label">Numero Compte:</label>
                      <div class="col-sm-6">
                        <input
                          class="form-control"
                          id="numeroCompte"
                          [(ngModel)]="employe.numeroCompte"
                          name="numeroCompte"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="nni" class="col-sm-3 control-label">NNI:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="nni"
                          [(ngModel)]="employe.nni"
                          name="nni"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <div class="col-sm-offset-3 col-sm-10" >
                        <button (click)="postEmployee()" class="btn btn-success" [disabled]="addForm.form.invalid">Ajouter</button>
                      </div>
                    </div>



                  </div>
                </div>
              </form>
            </div>

            <div *ngIf="submitted" class="alert alert-success" role="alert">
              L'employe a ete ajoute !
            </div>
          </div>

          <div *ngIf="mode == 'supprimer'">
              <div class="alert alert-success" role="alert">
                l'employe a ete supprime!
              </div>
          </div>

          <div *ngIf="mode == 'modifier'">
            <div *ngIf="submitted" class="alert alert-success" role="alert">
              L'employe a ete mis a jour !
            </div>

            <div class="submit-form">
              <div *ngIf="employe">

              <form #editForm="ngForm" class="form-horizontal">

                  <div class="form-row">
                  <div class="form-group col-sm-4" >
                    <label for="nom" class="col-sm-3 control-label" >Nom:</label>
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        id="nom"
                        required
                        [(ngModel)]="employe.nom"
                        name="title"
                      />
                  </div>
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="prenom" class="col-sm-3 control-label">Prenom:</label>
                    <div class="col-sm-9">
                      <input
                        class="form-control"
                        id="prenom"
                        required
                        [(ngModel)]="employe.prenom"
                        name="prenom"
                      />
                    </div>
                  </div>

                    <div class="form-group col-sm-4">
                      <label for="prenom" class="col-sm-3 control-label">Adresse:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="adresse"
                          [(ngModel)]="employe.adresse"
                          name="adresse"
                        />
                      </div>
                    </div>

                    <div class="form-group col-sm-4">
                      <label for="prenom" class="col-sm-3 control-label">Contact:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="contact"
                          [(ngModel)]="employe.contact"
                          name="contact"
                        />
                      </div>
                    </div>

                    <div class="form-group col-sm-4">
                      <label for="prenom" class="col-sm-3 control-label">Etat:</label>
                      <div class="col-sm-9">
                        <select
                          name="etat"
                          id="etat"
                          class="form-control"
                          [(ngModel)]="employe.etat">
                          <option value="1" >Actif</option>
                          <option value="0" >Inactif</option>
                        </select>
                      </div>

                    </div>

                    <div class="form-group col-sm-4">
                      <label for="titre" class="col-sm-3 control-label">Titre:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="titre"
                          [(ngModel)]="employe.titre"
                          name="titre"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="situationFamilialle" class="col-sm-6 control-label">Situation Familialle:</label>
                      <div class="col-sm-6">
                        <input
                          class="form-control"
                          id="situationFamilialle"
                          [(ngModel)]="employe.situationFamilialle"
                          name="situationFamilialle"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="email" class="col-sm-3 control-label" >Email:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="email"
                          [(ngModel)]="employe.email"
                          name="email"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="genre" class="col-sm-3 control-label">Genre:</label>
                      <div class="col-sm-9">
                        <select
                          name="genre"
                          id="genre"
                          class="form-control"
                          [(ngModel)]="employe.genre">
                          <option value="male" >Male</option>
                          <option value="femelle" >Femelle</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="numeroCompte" class="col-sm-6 control-label">Numero Compte:</label>
                      <div class="col-sm-6">
                        <input
                          class="form-control"
                          id="numeroCompte"
                          [(ngModel)]="employe.numeroCompte"
                          name="numeroCompte"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="nni" class="col-sm-3 control-label">NNI:</label>
                      <div class="col-sm-9">
                        <input
                          class="form-control"
                          id="nni"
                          [(ngModel)]="employe.nni"
                          name="nni"
                        />
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <div class="col-sm-offset-3 col-sm-10" >
                        <button type="submit" (click)="putEmployee()" class="btn btn-success" [disabled]="editForm.form.invalid">Mettre A jour</button>
                      </div>
                    </div>

                  </div>
              </form>
            </div>
          </div>
          </div>

          <div *ngIf="employies && mode">
            <div class="row">
                <div class="col-sm-12">
                <div class="grid-toolbar text-right" style="margin-bottom: 10px;">
                  <button type="button" class="btn btn-default" (click)="ajouter()">
                    <span class="glyphicon glyphicon-plus"></span> Ajouter
                  </button>
                </div>
                <div class="grid-toolbar text-right">
                    <button type="button" class="btn btn-default float-right" style="margin-bottom: 10px;"  (click)="onBtnExport()">
                      <span class="glyphicon glyphicon glyphicon-open" aria-hidden="true"></span> Exporter
                    </button>
                </div>
              </div>
            </div>
            <ag-grid-angular
                    #agGrid
                    style="width: 100%;"
                    class="ag-theme-alpine"
                    domLayout='autoHeight'
                    [rowData]="employies"
                    [columnDefs]="columnDefs"
                    [context]="context"
                    [frameworkComponents]="frameworkComponents"
                    (gridReady)="onGridReady($event)"
                    >
            </ag-grid-angular>
          </div>

       </div>


     </div>
</div>





<!--
 <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="fname">First Name</label>
              <input type="text" id="fname" class="form-control form-control-lg">
            </div>
            <div class="col-md-6 form-group">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" class="form-control form-control-lg">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="eaddress">Email Address</label>
              <input type="text" id="eaddress" class="form-control form-control-lg">
            </div>
            <div class="col-md-6 form-group">
              <label for="tel">Tel. Number</label>
              <input type="text" id="tel" class="form-control form-control-lg">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="message">Message</label>
              <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <input type="submit" value="Send Message" class="btn btn-primary btn-lg px-5">
            </div>
          </div>
        </div>
      </div>
-->
