<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>les Contrats</title>

</head>

<body>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel panel-heading"><h4>Gestion des Contrats</h4></div>
    <div class="panel-body">

      <a href="/contrat">  <button type="button" class="btn btn-primary btn-block"> les Contrats</button></a><br>
      <a href="/contrats">  <button type="button" class="btn btn-primary btn-block"> types des Contrats</button></a><br>

    </div></div></div>

<br><br><br><br><br><br><br><br><br><br>
<br><br><br><Br><BR><BR>
<footer>
  <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
    <div class="col-12">
      <div class="row row-2">
        <div class="col-sm-3 text-md-center">
          <img src="assets/img/sy.PNG" style=" width: 120px !important; height:40px">
          <h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span>
            <b>Syskat Technologies</b></h5>
        </div>
        <div class="col-sm-3 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Hébergement site web</li>
            <li>Maintenance</li>
            <li>Securité</li>
          </ul>
        </div>
        <div class="col-sm-3 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Solutions</li>
            <li>Services</li>
            <li>Références</li>
          </ul>
        </div>
        <div class="col-sm-3 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-0">Développement sur mesure</li>
            <li><i style='font-size:24px' class='fas'>&#xf3c5;</i>Avn. Mokhtar Ould Daddah</li>
            <li><i class="fas fa-phone-alt"></i>+222 44 24 48 48</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
    <div class="col-12">
      <div class="row my-4 row-1 no-gutters">
        <div class="col-sm-3 col-auto text-center"><small>&#9400; Syskat Technologies</small></div>
        <div class="col-md-3 col-auto "></div>
        <div class="col-md-3 col-auto"></div>
        <div class="col my-auto text-md-left text-right "><i class="fas fa-comment"></i> <small> Contact@syskat.com </small> </div>
      </div>
    </div>
  </div>
</footer>

</body>

</html>
