<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Gestion des ressources Humaines</title>

  <!-- Bootstrap core CSS -->

</head>



<!-- Navigation -->
<!--/////////////////////////-->
<!----<header>


  <div class="well">
    <h1 style="color:black;"> <i class="fas fa-users"></i>  Gestion Des Ressources Humaines</h1>
    <img src="assets/img/grh.jpg" class="" width="1350" height="650">
  </div>

</header>-->


<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox" >

      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/img/nn.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Gestion des Ressources Humaines</h3>
          <p style="color:white ;font-size:18px">est un ensemble de fonctions et de mesures
            ayant pour objectif de mobiliser et développer
            les ressources du personnel.</p>
        </div>
      </div>

      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/img/bn.jpg')">
        <div class="carousel-caption d-none d-md-block" >
          <h3>Gestion administrative du personnel</h3>
          <p style="color:white ;font-size:18px">pour une plus grande efficacité,
            au profit de la stratégie d'une organisation.
            .</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/img/pt.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Gestion de la Paie</h3>
          <p style="color:white ;font-size:18px">  consiste à rémunérer une personne en contrepartie d’une tâche réalisée.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<body>


  <div class="container">

    <h1 class="my-4">Syskat Technologies</h1>

  <!-- Marketing Icons Section -->
  <div class="row">

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/b.gif"  style=" width:320px !important; " height="220">
        </div>
        <div class="card-footer">
           <a href="/employes" class="btn btn-primary">Gestion des Employés</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/depa.png"  style=" width:320px !important; "  height="220">
        </div>
        <div class="card-footer">
          <a href="/depts" class="btn btn-primary">Gestion des departements</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/co.jpg" class="card-img-top"  style=" width:320px !important; "  height="220">
        </div>
        <div class="card-footer">
          <a href="/conts" class="btn btn-primary">Gestion des Contrats</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/conv.jpg" class="card-img-top"  style=" width:320px !important; "  height="220">
        </div>
        <div class="card-footer">
          <a href="/conges" class="btn btn-primary">Gestion des Conges</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/li.jpg" class="card-img-top"  style=" width:320px !important; "  height="220">
        </div>
        <div class="card-footer">
          <a href="/licenciement" class="btn btn-primary">Gestion des Licenciements</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/tele.jpg" class="card-img-top"  style=" width:320px !important; "  height="220">
        </div>
        <div class="card-footer">
          <a href="/displines" class="btn btn-primary">Gestion des Displines</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/pp.png" class="card-img-top" style=" margin-left:80px;margin-top:30px;  width: 170px !important; width:170px !important; "  height="150">
        </div>
        <div class="card-footer">
          <a href="/professions" class="btn btn-primary">Gestion des Professions</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/prets-immobilier-espagne-non-residents.jpg" class="card-img-top"  style=" width:330px !important; "  height="200px">
        </div>
        <div class="card-footer">
          <a href="/prets" class="btn btn-primary">Gestion des prêts</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/52769.png" class="card-img-top"  style="margin-top:15px; margin-left:75px; width:200px !important; "  height="200px">
        </div>
        <div class="card-footer">
          <a href="/fonction" class="btn btn-primary">Gestion des Fonctions</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/mont.jpg" class="card-img-top"  style=" width:319px !important;height:219px;">
        </div>
        <div class="card-footer">
          <a href="/pointage" class="btn btn-primary">Gestion des Pointages</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4" *ngIf="isController()">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/comp.png" class="card-img-top"  style=" width: 200px !important; height:200px; margin-left:70px; margin-top:20px; "  height="220">
        </div>
        <div class="card-footer">
          <a href="/compte" class="btn btn-primary">Gestion des Comptes</a>
        </div>
       <!-- <div class="card-footer" *ngIf="isAdmin() || isController()">
          <a href="/compte" class="btn btn-primary">Gestion des Comptes</a>
        </div>-->
      </div>
    </div>



    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/bio.jpg" class="card-img-top"  style=" width: 180px !important; height:250px; margin-left:80px; "  height="300px">
        </div>
        <div class="card-footer">
          <a href="/avance-salaire" class="btn btn-primary">Gestion des Avances sur Salaire</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/Prime.jpg" class="card-img-top"  style=" width: 200px !important; height:150px; margin-left:80px; margin-top:30px;"  height="150px">
        </div>
        <div class="card-footer">
          <a href="/recherche-employe" class="btn btn-primary">Gestion des Primes fixe et variable</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="assets/img/bonification-de-salaire-60253714.jpg" class="card-img-top"  style=" width: 280px !important; height:230px; margin-left:20px; "  height="270px">
        </div>
        <div class="card-footer">
          <a href="/gratification" class="btn btn-primary">Gestion des Gratifications</a>
        </div>
      </div>
    </div>



  </div>
    <footer>
      <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
        <div class="col-12">
          <div class="row row-2">
            <div class="col-sm-3 text-md-center">
              <img src="assets/img/sy.PNG" style=" width: 120px !important; height:40px">
              <h5><span> <i class="fa fa-firefox text-light" aria-hidden="true"></i></span>
                <b>Syskat Technologies</b></h5>
            </div>
            <div class="col-sm-3 my-sm-0 mt-5">
              <ul class="list-unstyled">
                <li class="mt-0">Hébergement site web</li>
                <li>Maintenance</li>
                <li>Securité</li>
              </ul>
            </div>
            <div class="col-sm-3 my-sm-0 mt-5">
              <ul class="list-unstyled">
                <li class="mt-0">Solutions</li>
                <li>Services</li>
                <li>Références</li>
              </ul>
            </div>
            <div class="col-sm-3 my-sm-0 mt-5">
              <ul class="list-unstyled">
                <li class="mt-0">Développement sur Mesure</li>
                <li><i style='font-size:24px' class='fas'>&#xf3c5;</i>Avn. Mokhtar Ould Daddah</li>
                <li><i class="fas fa-phone-alt"></i>+222 44 24 48 48</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
        <div class="col-12">
          <div class="row my-4 row-1 no-gutters">
            <div class="col-sm-3 col-auto text-center"><small>&#9400; Syskat Technologies</small></div>
            <div class="col-md-3 col-auto "></div>
            <div class="col-md-3 col-auto"></div>
            <div class="col my-auto text-md-left text-right "><i class="fas fa-comment"></i> <small> Contact@syskat.com </small> </div>
          </div>
        </div>
      </div>
    </footer>






    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</div>
</body>
</html>

